.reg-verbs-title-div {
  grid-column: 2/4;
  place-self: center;
}

.all-verbs-wrapper { 
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-column: 1/1;
}

.main-verbs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.other-verbs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.current-word-wrapper {
  border: 1px solid white;
  width: 150px;
  height: 80px;
  grid-column: 2/4;
  place-self: center;
}