* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* outline: 1px solid red; */

}

*::before, *::after {
  box-sizing: border-box;
}

:root {
  --MAIN-BACKGROUND: #0e0e0e;
  --SECONDARY-BACKGROUND: #171717;
  --MAIN-COLOR: rgb(14, 162, 199);
  --NORMAL-TEXT: rgb(174, 174, 174);
  --BOX-SHADOW-1: 1px 1px 10px rgb(79, 79, 79);
}

html {
  height: 100%;
  font-family: "Lato", sans-serif;

}

body {
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.925);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* USEFUL FOR DE-BUGGING AFTER A HORIZONTAL SCROLL BAR APPEARS FOR NO APPARENT REASON */
/* body, html {
  overflow-x: hidden;
} */

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* This makes images responsive */
  max-inline-size: 100%; 
}


a {
  color: white;
  text-decoration: none;
}

.main {
  padding: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.main-section {
  border: 2px solid green;


  display: flex;
  gap: 10px;
}

.subject-section {
  flex-shrink: 5;

}

.verb-section {
  /* flex-grow: 1; */
}

.object-section {
    flex-shrink: 5;

}

.subject-section, .verb-section, .object-section {
  padding: .7em;
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.subject, .user-defined-subject {
  background-color: #93033b;
}

.verb {
  background-color: #07a14c;
}

.object {
  background-color: #2a3bd3;
}

.subject, .verb, .object, .user-defined-subject {
  padding: 3px;

}

.user-subject {
  width: 100%;
  max-width: 100%;
  background-color: #93033b;
  color: white;
}

.user-subject::placeholder {
  color: rgb(189, 189, 189);         
  opacity: 1;  
  font-size: .8rem;
  padding: 2px;

}

.new-sentence-section {
  display: flex;
  border: 2px green solid;
}

.hidden {
  display: none;
}

.overlay {
  width: 0;
  display: none;
  position: absolute;
  z-index: 1;
}



.dialog-box {
  position: absolute;
  top: 40%;
  z-index: 2;
  opacity: 0;
  transition:opacity 0.2s ease-in;
  pointer-events: none;
  border: 1px solid white;
  width: 200px;
  height: 100px;
  color: white;

}

.overlay-visible {
  display: block;
  width: 100%;
  height: 300%;
  opacity: .7;
  background-color: rgb(0, 0, 0);
}

.visible {
  opacity: 1;
  pointer-events: auto;
}